{% extends "base.html" %}
{% block content %}
<br><br><br>
<div class="card" style="margin:auto; width:60%; padding:50px">
<center>
    <h2>You have been logged out!</h2>
    <div class="border-top pt-3">
        
        <small class="text-muted">
            <a href="{% url 'login2' %}">Log In Again?</a>
            &nbsp or, &nbsp
            <a href="{% url 'home' %}" style="color:green;">Go to Home</a>
            
        </small>
    </center>
    </div>
    </div>
{% endblock content %}
