{% extends 'base.html' %}
{% load crispy_forms_tags %}   
{% block title %}
            Change Password
{% endblock %} 
{% block content %}
<div class="card" style="margin:auto; width:80%; padding:50px">
<center><h1>Change Password</h1></center>

<h2>{{user.username}}</h2>
			<h5 class="text-muted">{{user.email}}</h5><br>
<div class="form-goup">
<form method="POST">
	{% csrf_token %}
	{{ form|crispy }}
	<br>
	<button class='btn btn-secondary'>Change Password</button>
</div>
</div>
{% endblock %}